.alter-password {
  height: 100vh;
}

.p-card-body {
  width: 75%;
}

.container-alter-password {
  width: 40%;
}

@media screen and (max-width: 600px) {
  .p-card-body {
    width: 100%;
  }

  .container-alter-password {
    width: 100%;
  }
}
