.stars {
  color: #ffd700 !important;
}

.no-style-link {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
  height: 100%;
}

.p-inputgroup-addon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.rounded-image img {
  border-radius: 10%;
  border: 3px solid #ffd700;
}
