.menubar-custom .p-menuitem-link {
  color: #ffd700 !important;
}

.menubar-custom .p-menuitem-link .pi {
  color: #ffd700 !important;
}

.menubar-custom .p-menuitem-text {
  color: #ffd700 !important;
}
