.p-card-body {
  width: 75%;
}

.container-forget-password {
  width: 40%;
}

@media screen and (max-width: 600px) {
  .p-card-body {
    width: 100%;
  }

  .container-forget-password {
    width: 100%;
  }
}
